.ops {
    display: flex;
    flex-direction: column;
}

.headerops {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap; 
}

.headerops h1 {
    color: #dedede;
    width: 40%;
    font-size: 4rem;
    min-width: 30%;
    flex: 1 1 auto;
    margin-bottom: 50px;
}

.squareh1 {
    background-color: #dedede;
    flex: 1 1 auto;
    height: 0.2vw; 
    min-height: 3px;
    width: 100%;
    margin-top: 10px;
}
